blinker==1.7.0
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==7.1.2
cryptography==41.0.7
Flask==1.1.2
Flask-Cors==4.0.0
gunicorn==20.0.4
idna==3.6
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
psycopg2-binary==2.9.9
pycparser==2.21
pyOpenSSL==23.3.0
requests==2.31.0
setuptools==69.0.3
urllib3==2.1.0
Werkzeug==1.0.1
