body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#results {
    width: 50%;
    /* If you want the results div to also fill the height */
    height: 100%; 
    padding-left: 10px;
    padding-right: 10px;
}

#content {
    display: flex;
    flex: 1; /* This allows the content to expand fully within content-wrap */
    height: 100%;
}

#map {
    width: 50%;
    height: 100%; /* Fill the height of its parent */
    padding-left: 10px;
    padding-right: 10px;
}

#map {
    touch-action: manipulation;
}

.navIcon {
    width:32px;
    height: 32px;
}

#wineryTable {
    width: 100%;
}

#wineryTable tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Light gray background */
}

#wineryTable thead th {
    background-color: #f2f2f2; /* Light gray background for header */
}

#banner {
    background-color: #494277;
    color: #ffffff;
    padding: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    max-height: 10vh;
    min-height: 10vh;
    justify-content: space-between;
}

#banner > #icon, 
#banner > #banner_title {
    margin-right: auto; /* Keeps logo and title on the left */
}

#banner_title {
    font-size:xx-large;
}

#authdiv {
    display: flex;
    align-items: center;
    width: 300px;
}

.hours {
    font-size: large;
}

#pinTypeHolder {
    padding-top: 15px;
    padding-bottom: 15px;
}

#auth_link {
    margin-left: auto;
    color: white;
    padding-right: 25px;
    cursor: pointer;
}

#myWineriesLink {
    margin-left: auto;
    color: white;
}

.infoWindowTitle {
    font-size: large;
}


/* Base styles for the icon */
#icon {
    max-width: 100px; /* Adjust this value as needed */
    height: auto; /* Maintain aspect ratio */
}

/* Responsive styles for smaller screens (e.g., iPhones) */
@media screen and (max-width: 768px) { /* Adjust the breakpoint as needed */
    #content {
        flex-direction: column;
    }

    #map, #results {
        width: 100%;
    }
}

/* Default styles for portrait orientation */
#map, #results {
    width: 100%;
    height: 50%; /* Each takes half the height in portrait mode */
}


/* Media query for landscape orientation */
@media screen and (min-width: 810px) and (orientation: portrait) {
    #content {
        flex-direction: column;
    }

    #map, #results {
        width: 100%; /* Each takes full width in portrait mode */
        height: 50%; /* Full height */
    }
}

/* Media query for landscape orientation */
@media screen and (min-width: 768px) and (orientation: landscape) {
    #content {
        flex-direction: row;
    }

    #map, #results {
        width: 50%; /* Each takes half the width in landscape mode */
        height: 100%; /* Full height */
    }
}


html, body {
    height: 100%;
    margin: 0;
}

#page-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ensuring it takes the full viewport height */
}

#content-wrap {
    flex: 1; /* Fill the available space */
    display: flex;
    flex-direction: column;
}

.dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .star-rating {
    direction: rtl;
    font-size: 30px;
    unicode-bidi: bidi-override;
    display: inline-block;
  }
  
  .star-rating .star {
    cursor: pointer;
    color: #ccc; /* Default star color */
  }
  
  .star-rating .star.rated {
    color: #494277 /* Highlighted star color */
  }

  :root {
    --winery-color: #494277;
  }

  .winery {
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 50%;
    color: #494277;
    display: flex;
    font-size: 14px;
    gap: 15px;
    height: 30px;
    justify-content: center;
    padding: 4px;
    position: relative;
    position: relative;
    transition: all 0.3s ease-out;
    width: 30px;
  }
  
  .winery::after {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid #FFFFFF;
    content: "";
    height: 0;
    left: 50%;
    position: absolute;
    top: 95%;
    transform: translate(-50%, 0);
    transition: all 0.3s ease-out;
    width: 0;
    z-index: 1;
  }

  .winery .markercontainer {
    position: relative; /* Establishes a positioning context */
    display: inline-block; /* Or flex, depending on layout needs */
}
  
  .winery .markercontainer .icon {
    color: #FFFFFF;

    z-index: 1; /* Ensure .icon is under .winerynum */
    display: flex; /* Use flexbox to center the SVG icon */
    align-items: center;
    justify-content: center;
  }
  
  .winery .icon svg {
    height: 20px;
    width: auto;
  }

  .winery .markercontainer .winerynum {
    color: #FFFFFF;
    background-color: #494277; /* Optional: adds contrast */
    border-radius: 50%; /* Optional: makes the number circular */
    padding: 5px; /* Adjust padding to fit the number inside the circle */
    
    z-index: 2; /* Ensure .winerynum is above .icon */
    position: absolute;
    top: 0;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%) translateY(-50%); /* Center both horizontally and vertically */
    font-weight: bold; /* Optional: makes the number more prominent */
  }
  
  .winery .details {
    display: none;
    flex-direction: column;
    flex: 1;
  }
  
  .winery .address {
    color: #9E9E9E;
    font-size: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  
  .winery .features {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .winery .features > div {
    align-items: center;
    background: #F5F5F5;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: flex;
    font-size: 10px;
    gap: 5px;
    padding: 5px;
  }

  .winery.highlight {
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    height: 80px;
    padding: 8px 15px;
    width: auto;
  }
  
  .winery.highlight::after {
    border-top: 9px solid #FFFFFF;
  }
  
  .winery.highlight .details {
    display: flex;
  }
  
  .winery.highlight .icon svg {
    width: 50px;
    height: 50px;
  }

  .winery.highlight .icon {
    color: var(--winery-color);
  }
  
  .winery:not(.highlight) {
    background-color: var(--winery-color);
  }
  
  .winery:not(.highlight)::after {
    border-top: 9px solid var(--winery-color);
  }

 /* * HTML marker styles */
.winery-tag {
  background-color: #494277;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 14px;
  padding: 3px 5px;
  position: relative;
}

.winery-tag::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #494277;
}

.toggleHours {
    font-size: medium;

    color: #0000EE; /* Typical hyperlink blue */
    text-decoration: underline; /* Underline like a hyperlink */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.toggleHours:hover {
    color: #551A8B; /* Darker blue when hovered */
}

.toggleHours:active {
    color: #FF0000; /* Change color when clicked */
}

.infowindowHeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center; /* This centers them vertically if your container has a taller height */
    width: 300px; /* Your specified width */
    height: 40px;
}

.googlerating {
    font-size: medium;
}