body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#map {
    width: 50%;
    /* Adjust height as needed */
    height: 500px;
}

#results {
    width: 50%;
    padding: 10px;
}

#content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navIcon {
    width:32px;
    height: 32px;
}


#wineryTable {
    width: 100%;
}

#wwineryTableth {
    background-color: #f2f2f2;
}

/* Add this to style.css */

/* Add this to style.css */
#banner {
    background-color: #494277;
    color: #ffffff;
    padding: 10px;
    display: flex;
    align-items: center;
    width: 100%;
}

#banner_title {
    font-size:xx-large;
}

/* Base styles for the icon */
#icon {
    max-width: 100px; /* Adjust this value as needed */
    height: auto; /* Maintain aspect ratio */
}

/* Responsive styles for smaller screens (e.g., iPhones) */
@media screen and (max-width: 768px) { /* Adjust the breakpoint as needed */
    #content {
        flex-direction: column;
    }

    #map, #results {
        width: 100%;
    }
}

