body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#map {
    height: 400px;
    width: 100%;
}

#results {
    padding: 20px;
}

#winery-table {
    width: 100%;
}

#winery-table th {
    background-color: #f2f2f2;
}
